manifest {
    name                                  = 'split-multiallelic-sites-nf'
    description                           = 'Nextflow pipeline to split multiallelic sites'
    author                                = 'Laura Schöttle'
    homePage                              = 'https://github.com/LauSchoe/split_multiallelic_sites'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {
    project         = null
    sequence_data   = null
    outdir          = null 
}



profiles {
    process.container = 'split_multiallelicsites_image'
    docker.enabled    = true
}
